.header{
  background-color: royalblue;
}
.footer{
  background-color: rgb(29, 33, 46);

}



.header2{
  background-color: seagreen;
  color: white;
}

.footer2{
  background-color: sienna;
  color: white;
}